* {
  -webkit-user-select: none;
}
body {
  padding-top:20px
}

textarea{
  resize:none;
  min-height: 100%;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.files {
  padding: 0;
  margin: 0;
}

.file {
  padding: 2px;
  margin: 2px;
  width: 80px;
  display: inline-block;

  text-align: center;
  vertical-align: top;
}

.file.focus {
  background-color: #08C;
  -webkit-border-radius: 4px;
}

.file .name {
  width: 80px;
  word-wrap: break-word;
}

.file.focus .name {
  color: white;
}

.file .icon {
  margin: auto;
  margin-top: 0;
  width: 60px;
}

.file.focus .icon {
  -webkit-filter: invert(20%);
}
#general_group, #accordion_table, #accordion_instances{
   position: absolute;
   top: 200px;
   bottom: 0px;
   right: 10px;
   left: 10px;
   overflow:auto;
}

