<div class="tab-pane active" id="general">
	<div class="page-header">
		<h2>GENERAL</h2>
    		<button type="button" class="btn" ng-model="watcher" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-class="{false:'btn-danger',true:'btn-success'}[watcher]" ng-click="watcherToggle()">
        		{{watcherDisplay()}}
    		</button>
	</div>
	<div class="panel panel-default well well-lg" style="min-height:270px;max-height:435px;overflow-y:auto">
		<ul class="list-group" ng-repeat="output in console_output">
			<li class="list-group-item alert" ng-class="output.alert_class">
				<span class="badge">{{output.now}}</span> {{output.message}}
			</li>
		</ul>
	</div>
</div>