<div class="row">
	<div class="col-xs-6">
		<textarea id="local_file_view" class="form-control" disabled></textarea>
	</div>
	<div class="col-xs-6">
		<textarea id="cloud_file_view" class="form-control" disabled></textarea>	
	</div>
</div>
<div class="row">
	<div class="col-xs-6">
		<button type="button" class="btn btn-primary btn-md">
			<span class="">Overwrite Local File</span>
		</button>
	</div>
	<div class="col-xs-6">
		<button type="button" class="btn btn-primary btn-md">
			<span class="">Overwrite Cloud File</span>
		</button>
	</div>
</div>