<div id="instances">
	<div class="page-header">
		<h2>INSTANCES</h2>
		<button type="button" class="btn btn-success btn-xs" ng-click="openInstance()">
			<span class="glyphicon glyphicon-plus"></span> 
		</button> Add Instance
	</div>
	<div class="panel-group" id="accordion_instances">
		<accordion>
			<accordion-group ng-repeat="instance in instances">
				<accordion-heading>
					<button type="button" class="pull-right btn btn-danger btn-xs" ng-click="openDelete(instance.name,$index)">
						<div class="glyphicon glyphicon-trash"></div> 
					</button>
					<div>{{instance.name}}</div>
				</accordion-heading>
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="folder_location">Folder Location</label>
						<div class="col-sm-10">
							<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">...</button>
								</span>
								<input id="folder_location" type="text" class="form-control" ng-model="instance.path"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="url">URL</label>
						<div class="col-sm-10">
							<input id="url" type="url" class="form-control" ng-model="instance.host" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="username">Username</label>
						<div class="col-sm-10">
							<input id="username" type="test" class="form-control" ng-model="instance.username" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="password">Password</label>
						<div class="col-sm-10">
							<input id="password" type="password" class="form-control" ng-model="instance.password" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="last_synced">Last Synced</label>
						<div class="col-sm-10">
							<input id="last_synced" type="datetime-local" class="form-control" ng-model="instance.last_synced" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="json_ver">JSON version</label>
						<div class="col-sm-10">
							<select class="form-control" ng-model="instance.json">
								<option value="JSONv2">JSONv2</option>
								<option value="JSON">JSON</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox">
								<label>
									<input ng-model="instance.read_only" type="checkbox" ng-true-value="true" ng-false-value="false" id="ready_only"> Read Only
								</label>
							</div>
						</div>
					</div>
				</form>
				<div>
					<button type="button" class="btn btn-success btn-xs" ng-click="updateInstance($index,instance)">
						<span class="glyphicon glyphicon-floppy-saved"></span> 
					</button>
					<button type="button" class="btn btn-primary btn-xs" ng-click="syncFiles($index,instance)">
						<span class="glyphicon glyphicon-download-alt"></span> 
					</button>
				</div>
			</accordion-group>
		</accordion>
	</div>
</div>
