<div id="tables">
	<div class="page-header">
		<h2>TABLES</h2>
		<button type="button" class="btn btn-success btn-xs" ng-click="openTable()">
			<span class="glyphicon glyphicon-plus"></span>
			Add Table
		</button>
	</div>
	<div class="panel-group" id="accordion_table">
		<accordion>
			<accordion-group ng-repeat="table in tables">
				<accordion-heading>
					<h4 class="panel-title">
						<span class="pull-right">
							<button type="button" class="btn btn-xs" ng-class="{'false':'btn-default','true':'btn-success'}[table.select]" ng-click="setTableSelect($index,table);$event.stopPropagation();" tooltip="{{getToolTip(table.select)}}">
								<span class="glyphicon glyphicon-off"></span>
							</button>
							<button type="button" class="btn btn-danger btn-xs" ng-click="openDelete(table,$index);$event.stopPropagation();" tooltip="delete">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</span>
						<a data-toggle="collapse" data-parent="#accordion_table" data-target="#{{table.name}}" href="#tables">{{table.name}}</a>
					</h4>
				</accordion-heading>
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-sm-2 control-label">Folder Name</label>
						<div class="col-sm-10">
							<p class="form-control-static">{{table.name}}</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="table_name">Table Name</label>
						<div class="col-sm-10">
							<input id="table_name" type="text" class="form-control" ng-model="table.table" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="key_field">Key Field</label>
						<div class="col-sm-10">
							<input id="key_field" type="text" class="form-control" ng-model="table.key" />
						</div>
					</div>
					<div class="form-group">
						<table class="table" style="width:50%;margin-left:170px">
							<tr>
								<th>
								</th>
								<th>
									<label for="field_name">Field</label>
								</th>
								<th>
									<label for="field_type">File Type</label>
								</th>
								<th>
									<button type="button" class="btn btn-success btn-xs" ng-click="addFieldRow($index);" tooltip="add">
									<span class="glyphicon glyphicon-plus"></span>
									</button>
								</th>
							</tr>
							<tr ng-repeat="field in table.fields">
								<td>
									<button type="button" class="btn btn-danger btn-xs" ng-click="removeFieldRow($parent.$index,$index)" tooltip="delete">
									<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
								<td>
									<input id="field_name" type="text" class="form-control" ng-model="field.field_name" />
								</td>
								<td>
									<input id="field_type" type="text" class="form-control" ng-model="field.field_type" />
								</td>
							</tr>
						</table>
					</div>
				</form>
				<div>
					<button type="button" class="btn btn-success btn-xs" ng-click="updateTable($index,table);" tooltip="update">
					<span class="glyphicon glyphicon-floppy-saved"></span>
					</button>
				</div>
			</accordion-group>
		</accordion>
	</div>
</div>