<div class="tab-pane" id="tables">
	<div class="page-header">
		<h2>TABLES</h2>
		<button type="button" class="btn btn-success btn-xs">
			<span class="glyphicon glyphicon-plus" ng-click="openTable()"></span> 
		</button> Add Table
	</div>
	<div class="panel-group" id="accordion_table">
		<div ng-repeat="table in tables" class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<button type="button" class="pull-right btn btn-danger btn-xs" ng-click="openDelete(table.name,$index)">
						<span class="glyphicon glyphicon-trash"></span> 
					</button>
					<a data-toggle="collapse" data-parent="#accordion_table" data-target="#{{table.name}}" href="#tables">
					{{table.name}}
					</a>
				</h4>
			</div>
			<div id="{{table.name}}" class="panel-collapse collapse">
				<div class="panel-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-sm-2 control-label">Folder Name</label>
							<div class="col-sm-10">
								<p class="form-control-static">{{table.name}}</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="table_name">Table Name</label>
							<div class="col-sm-10">
								<input id="table_name" type="text" class="form-control" ng-model="table.table" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="key_field">Key Field</label>
							<div class="col-sm-10">
								<input id="key_field" type="text" class="form-control" ng-model="table.key" />
							</div>
						</div>
						<div class="form-group">
							<table class="table" style="width:50%;margin-left:170px">
								<tr>
									<th> 
									</th>
									<th>
										<label for="field_name">Field</label>
									</th>
									<th>
										<label for="field_type">File Type</label>
									</th>
									<th>
										<button type="button" class="btn btn-success btn-xs" ng-click="addFieldRow($index);">
											<span class="glyphicon glyphicon-plus"></span> 
										</button>
									</th>
								</tr>
								<tr ng-repeat="field in table.fields">
									<td>
										<button type="button" class="btn btn-danger btn-xs" ng-click="removeFieldRow($parent.$index,$index)">
											<span class="glyphicon glyphicon-remove"></span> 
										</button>
									</td>
									<td>
										<input id="field_name" type="text" class="form-control" ng-model="field.field_name" />
									</td>
									<td>
										<input id="field_type" type="text" class="form-control" ng-model="field.field_type" />
									</td>
								</tr>
							</table>
						</div>
					</form>
				</div>
				<div class="panel-footer">
					<button type="button" class="btn btn-success btn-xs" ng-click="updateTable($index,table);">
						<span class="glyphicon glyphicon-floppy-saved"></span> 
					</button>
				</div>
			</div>
		</div>
	</div>
</div>